ABOUT-NLS
Makefile.in
aclocal.m4
autom4te.cache/*
compile
config.guess
config.h.in
config.log
config.rpath
config.sub
configure
cscope.out
depcomp
install-sh
ltmain.sh
m4/*
missing
po/*
test-driver
ylwrap
