# Sample kboot.conf for petitboot
# Copy to /etc/kboot.conf and modify to match your system
#

# kboot style samples:

# hdd='/boot/vmlinux initrd=/boot/initrd.gz root=/dev/sda1'
# tftp='tftp://192.168.0.5/fire/boot/vmlinux.strip root=/dev/nfs rw ip=dhcp video=1080p'
# nfs='nfs://192.168.0.5/fire/boot/vmlinux.strip root=/dev/nfs rw ip=dhcp video=1080p fbcon=rotate:3'
# http_nfs='http://192.168.0.5/ice/boot/vmlinux.strip nfs://192.168.0.5/ice/boot/initrd root=/dev/nfs'
